<div
    class="w-full relative bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
>   
    <div class="w-full pt-5">
        <p class="text-center uppercase text-2xl">Giỏ hàng</p>
    </div>
    <mat-drawer-container
        class="example-container w-full"
        autosize
        [hasBackdrop]="false"
    >
        <mat-drawer
            #drawer
            class="example-sidenav fixed"
            mode="side"
            position="end"
        >
        </mat-drawer>

        <div class="example-sidenav-content">
            <div class="mat-elevation-z8 w-full">
                <table
                    mat-table
                    [dataSource]="dataSource"
                    matSort
                    class="w-full product-table"
                >
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            ID
                        </th>
                        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>
                            <input
                                (keyup)="applyFilter($event)"
                                placeholder="Name"
                                #input
                            />
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <div
                                class="flex cursor-pointer justify-center"style="height:50px"
                                (click)="toggleSP(trigger, row)"
                            >
                                <button
                                    cdkOverlayOrigin
                                    #trigger="cdkOverlayOrigin"
                                >
                                    {{ row.TenSP }}
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="soluong">
                        <th mat-header-cell *matHeaderCellDef>Số lượng</th>
                        <td mat-cell *matCellDef="let row">
                            <input
                                type="number"
                                class="w-20"
                                (keyup.enter)="updateQuantity(row, $event)"
                                value="{{ row.soluong }}"
                                #input
                            />
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Giá</th>
                        <td mat-cell *matCellDef="let row">
                            <input
                                class="w-28"
                                value="{{ row.price | currency: 'VND' }}"
                                (keyup.enter)="updatePrice(row,$event)"
                                #input
                            />
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef>Thành tiền</th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.price * row.soluong | currency: "VND" }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Trạng Thái</th>
                        <td mat-cell *matCellDef="let row">
                            <div
                                class="flex cursor-pointer justify-center"
                                (click)="toggle(trigger, row)"
                            >
                                <button
                                    cdkOverlayOrigin
                                    #trigger="cdkOverlayOrigin"
                                    [ngClass]="
                                        row.trangthai == 4
                                            ? 'text-green-500'
                                            : 'text-red-500'
                                    "
                                >
                                    {{
                                        row.trangthai
                                            | findbyid: trangthai:"title"
                                    }}
                                </button>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <button
                                class="text-red-500 flex items-center"
                                (click)="deleteDonhang(row)"
                            >
                                <span class="material-icons text-lg mr-2">
                                    delete
                                </span>
                                Remove
                            </button>
                        </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let row">
                        <button
                            class="px-4 py-1 rounded-2xl bg-blue-700 text-white"
                        >
                            Create Flow
                        </button>
                    </td>
                </ng-container> -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                </table>
                <div
                    class="w-full flex items-center justify-center py-3 bg-white"
                >
                    <button
                        (click)="themdonhang()"
                        class="bg-green-500 px-3 py-2 rounded-full text-white"
                    >
                        +
                    </button>
                </div>
                <mat-paginator
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page of users"
                ></mat-paginator>
            </div>
        </div>
    </mat-drawer-container>

    <ng-template
        cdkConnectedOverlay
        cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
        [cdkConnectedOverlayHasBackdrop]="true"
        [cdkConnectedOverlayOrigin]="triggerOrigin"
        [cdkConnectedOverlayOpen]="isOpen"
        (detach)="isOpen = false"
        (backdropClick)="isOpen = false"
    >
        <div class="w-60 rounded border shadow-md bg-card m-3">
            <!-- <div class="flex items-center m-3 mr-2">
                <div class="flex items-center">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:search'"
                    ></mat-icon>
                    <div class="ml-2">
                        <input
                            class="w-full min-w-0 py-1 border-0"
                            type="text"
                            placeholder="Tìm Kiếm"
                            [maxLength]="30"
                            #newTagInput
                        />
                    </div>
                </div>
            </div> -->
            <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
                <ng-container>
                    <div class="py-2 space-y-2">
                        <ng-container *ngFor="let item of trangthai">
                            <div
                                class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover"
                                matRipple
                                (click)="onSelect(item)"
                            >
                                <div class="ml-1">
                                    {{ item.title }}
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-template>
    <ng-template
        cdkConnectedOverlay
        cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
        [cdkConnectedOverlayHasBackdrop]="true"
        [cdkConnectedOverlayOrigin]="triggerOriginSP"
        [cdkConnectedOverlayOpen]="isOpenSP"
        (detach)="isOpenSP = false"
        (backdropClick)="isOpenSP = false"
    >
        <div class="w-60 rounded border shadow-md bg-card m-3">
            <!-- <div class="flex items-center m-3 mr-2">
            <div class="flex items-center">
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:search'"
                ></mat-icon>
                <div class="ml-2">
                    <input
                        class="w-full min-w-0 py-1 border-0"
                        type="text"
                        placeholder="Tìm Kiếm"
                        [maxLength]="30"
                        #newTagInput
                    />
                </div>
            </div>
        </div> -->
            <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
                <ng-container>
                    <div class="py-2 space-y-2">
                        <ng-container *ngFor="let item of sanpham">
                            <div
                                class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover " 
                                matRipple
                                (click)="onSelectSP(item)"
                            >
                                <div class="ml-1 w-full" >
                                    {{ item.name }}
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-template>
</div>
<div></div>
